/*css hack*/
*{
    padding: 0px;margin:0px;
}
a{
    text-decoration: none;
}
/*footer部分*/
#footer{
    width:100%;
    height: 90px;
    background:url(../img/footerbg.png) no-repeat;
}
#footer>div{
    width:80%;
    height:75px;
    margin:auto;


}
#footer>div img,span{
    display: inline-block;
    vertical-align:middle;
    margin-top:15px;
    color:#fff;
}
#footer>div .shangbiao{
    width:60px;
    
}
#footer>div .zhuan{
    margin-left:10px;
}
#footer>div .zi{
    margin-left:10px;
}
#footer>div .miaoshu{
    margin-left:10px;
    font-weight: bold;
    font-size: 22px;
} 
#footer>div .lan{
    margin-left:145px;
}
#footer>div .btn{
    width:102px;
    height:33px;
    border:1px solid #fff;
    border-radius:5px;
    text-align:center;
    line-height: 33px;
    margin-left: 70px;
    font-size:14px;
    cursor: pointer;
}
/*centent主体部分*/
#centent{
    width:1200px;
    height: 459px;
    margin:auto;
    background:#333;
}
#centent .left{
    width:880px;
    height: 100%;
    background:#666;
}
#centent .left .left_centent{
    width:350px;
    height:300px;
    float: left;
}
#centent .left .right_centent{
    width:440px;
    height:250px;
    float:left;
}